<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">home</mat-icon>
      Home page
    </ng-template>
    <app-form></app-form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">table</mat-icon>
      Table
    </ng-template>
    <app-table></app-table>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">contact_support</mat-icon>
      Support
    </ng-template>
    <app-dialog></app-dialog>
  </mat-tab>
</mat-tab-group>
